@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-image: url(../public/Images/hero_img.jpg);
 background-repeat: no-repeat;
 background-color:#040711;
 background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
